/*
/*/

## Single files:
!/.gitignore
!/NEWS.md
!/README.md
!/_quarto.yml
!/quarto-test.Rproj

## Folders:
!/qmd/
/qmd/*
!/qmd/*.qmd


## Ignore all log-related files:
**/*[Ll]og*
**/*.log

/.quarto/
