/*
/*/

## Single files:
!/.gitignore
!/README.md
!/_quarto.yml
!/quarto-test.Rproj
!/index.qmd

## Folders:
!/qmd/
/qmd/*
!/qmd/*.qmd


## Ignore all log-related files:
**/*[Ll]og*
**/*.log

/.quarto/
