/*
/*/

## Single files:
!/.gitignore
!/README.md
!/Rmd-test.Rproj
!/index.Rmd
!/_bookdown.yml
!/_output.yml

## Folders:
!/Rmd/
/Rmd/*
!/Rmd/*.Rmd

!/docs/
/docs/*
!/docs/_main.html
!/docs/reference-keys.txt
!/docs/search_index.json


## Ignore all log-related files:
**/*[Ll]og*
**/*.log
